html,
body {
  width: 100%;
  height: 100%;
}

h3 {
  text-align: center;
}

label {
  font-weight: 700;
}

button {
  height: 40px;
  margin: 10px 10px 0 0;
}

img {
  width: 100%;
  /*max-width: 100px;*/
}

label[for="img_upload_id"] {
  background-color: red;
  margin-bottom: 10px;
}

button.basemap_option {
  background-color: white;
  border-radius: 8px;
  border: 2px solid gray;
}

button.basemap_option.option_selected {
  border: 2px solid red;
}

button.basemap_option:hover {
  background-color: rgb(230, 230, 230);
  border: 2px solid rgb(230, 230, 230);
  box-shadow: 0 0 10px black;
}

/*Text portion of the popup*/
.custom_popup_html {
  background-color: white;
}

.custom_popup_html p {
  margin: 5px 0;
  width: 180px;
  /*min-width: 150px;
    max-width: 160px;*/
}

.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.leaflet-popup-tip {
  display: none;
}

.leaflet-container {
  /*color: rgba(0,109,204,0.5);*/
  min-width: 400px;
}

/*loading spinner*/
.center-all-ontop {
  font-size: 3em;
  color: #006dcc;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#main_map {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

#main_map.crosshair_enabled {
  cursor: crosshair;
}

/* Style of the new marker information form */

@-webkit-keyframes slide_open {
  100% {
    left: 0;
  }
}

@keyframes slide_open {
  100% {
    left: 0;
  }
}

@-webkit-keyframes slide_close {
  100% {
    left: -100%;
  }
}

@keyframes slide_close {
  100% {
    left: -100%;
  }
}

#new_marker_container {
  font-weight: 700;
  background-color: rgba(50, 50, 50, 0.9);
  margin: 0;
  padding: 0px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: -100%;
  min-width: 30%;
  border-bottom-right-radius: 5px;
}

#new_marker_container.shown {
  left: 0;
  /*-webkit-animation: slide_open 0.5s forwards;
    animation: slide_open 0.5s forwards;*/
}

#new_marker_container.escondido {
  left: -100%;
  /*-webkit-animation: slide_close 1s forwards;
    animation: slide_close 1s forwards;*/
}

input[type="radio"] {
  margin-top: -1px;
  margin-right: 1em;
  vertical-align: middle;
}

.nmc_section {
  padding: 10px;
  color: rgb(230, 230, 230);
  text-shadow: 0 0 10px black;
}

.nmc_section .nmc_section div {
  margin: 10px 0;
}

.nmc_section span {
  margin-left: 1em;
  font-size: 0.8em;
}

.invalid_input {
  color: red;
}
#map_buttons_container {
  z-index: 1000;
  position: absolute;
  top: 18px;
  left: 70px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

#basemap_options_container {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
}

/* Style of the 'Insert New Location' button */
#insert_marker {
  z-index: 1000;
}

/* Style of the 'Change Basemap' button */
#change_basemap {
  z-index: 1000;
}

.delete_marker {
  height: 20px;
  filter: contrast(0%);
}

.delete_marker:hover {
  filter: none;
}

.marker_popup_footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#marker_category label {
  font-size: 0.8em;
  font-weight: 200;
  font-stretch: expanded;
}

#opt_in_email {
  font-size: 0.8em;
  font-weight: 200;
  padding-bottom: 1em;
}

.show {
  display: block;
}

.hide {
  display: none;
}
